/WindowsPhone/TCPSocket/TCPSocket.suo
/WindowsPhone/TCPSocket/TCPSocket/Bin
/WindowsPhone/TCPSocket/TCPSocket/obj
/WindowsPhone/NetworkMeter/NetworkMeter/Bin
/WindowsPhone/NetworkMeter/NetworkMeter/obj
/WindowsPhone/DayRide/DayRide/Bin
/WindowsPhone/DayRide/DayRide/obj
